{% extends 'base.html' %}
{% block content %}

{% for yearFromList, valueInYear in information.items %}
  <div class="card">
    <div class="card-header">
      <h2><a class="nav-link" href="{% url 'year' yearFromList %}">{{ yearFromList }}</a></h2>
    </div>
    <hr>
      {% for month, breakdown in valueInYear.items %}
          <ul class="list-group list-group-flush">
            <div class="card-header"><h4>{{ month }}</h4></div>

            {% for expenseType, cost in breakdown.items %}
              <li class="list-group-item">{{ expenseType }} --- {{ cost }}</li>
            {% endfor %}
          </ul>
      {% endfor%}
  </div>
<br>
{% endfor %}

{% endblock content %}