{% extends 'base.html' %}
{% block content %}

Year page <br>

{{ pk }} <br>

This is the expense_axis {{ expense_axis }} <br>

{{ expense_axis.2024.February.name }} <br>
{{ expense_axis.2024.February.cost }}
<br><br>

<div>
    {% for year, breakdown in expense_axis.items %}
        this is the year >>> {{ year }} <br>
        this is the breakdown {{ breakdown }} <br>
        {% for month, breakdown2 in breakdown.items %}
            This is the month ---- {{ month }} <br>
            This is the breakdown2 ----- {{ breakdown2 }} <br>
            {% for name, amount in breakdown2.items %}
                {{ name }} ----- {{ amount }} <br>
            {% endfor%}
        {% endfor %}
    <br>
    {% endfor %}
</div>


<div>  <canvas id="myChart"></canvas> </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="myChart" style="width:50%;max-width:100px"></canvas>

<!--<script>-->
<!--&lt;!&ndash;var xValues = ["Italy", "France"];&ndash;&gt;-->
<!--&lt;!&ndash;var yValues = [55, 49];&ndash;&gt;-->

<!--var xValues = [];-->
<!--xValues.push("one", "two");-->

<!--var yValues = [55, 49];-->
<!--var barColors = ["#b91d47","#00aba9"];-->

<!--new Chart("myChart", {-->
<!--  type: "pie",-->
<!--  data: {-->
<!--    labels: xValues,-->
<!--    datasets: [{-->
<!--      backgroundColor: barColors,-->
<!--      data: yValues-->
<!--    }]-->
<!--  },-->
<!--  options: {-->
<!--    title: {-->
<!--      display: true,-->
<!--      text: "World Wide Wine Production 2018"-->
<!--    }-->
<!--  }-->
<!--});-->
<!--</script>-->

<div>
  <script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
    type: 'pie',
    data: {
      labels: {{ expense_axis.2024.February.name|safe }},
      datasets: [{
        label: 'Costs',
        data: {{ expense_axis.2024.February.cost|safe }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  </script>
</div>

{% endblock content %}