{% extends 'base.html' %}
{% block content %}

Year page <br>

{{ pk }} <br>

This is the expense_axis {{ expense_axis }} <br>

{{ expense_axis.2024.February.name }} <br>
{{ expense_axis.2024.February.cost }}
<br><br>

<div>
    {% for year, breakdown in expense_axis.items %}
        this is the year >>> {{ year }} <br>
        this is the breakdown {{ breakdown }} <br>
        {% for month, breakdown2 in breakdown.items %}
            This is the month ---- {{ month }} <br>
            This is the breakdown2 ----- {{ breakdown2 }} <br>
            {% for name, amount in breakdown2.items %}
                {{ name }} ----- {{ amount }} <br>
            {% endfor%}
        {% endfor %}
    <br>
    {% endfor %}
</div>


<div>  <canvas id="myChart"></canvas> </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
<!--var xValues = ["Italy", "France"];-->
<!--var yValues = [55, 49];-->

var xValues = [];
xValues.push("one", "two");

var yValues = [55, 49];

var barColors = ["#b91d47","#00aba9"];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});
</script>



{% endblock content %}